@model GiveCamp.Models.VolunteerRegistration

@{
    ViewBag.Title = "Volunteer Registration";
}

@using (Html.BeginForm("Details", "Volunteer", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Volunteer Registration</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.Hidden("UserID", Model.User.UserId)

        <div class="control-group">
            <div class="control-label">
                First Name
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                Last Name
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                Team Name
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.TeamName)
                @Html.ValidationMessageFor(model => model.TeamName)            <span class="help-block">Do you want us to put you and your friends on the same team?
                    <br />
                    If you all register with the same team name we will do our best to keep you together.
                </span>
            </div>

        </div>

        <div class="control-group">
            <div class="control-label">
                Email
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                Twitter Handle
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Twitter)
                @Html.ValidationMessageFor(model => model.Twitter)
                <span class="help-inline">(i.e. @@DallasGiveCamp)
                </span>
            </div>

        </div>

        <div class="control-group">
            <div class="control-label">
                Blog / Website URL
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.WebsiteUrl)
                @Html.ValidationMessageFor(model => model.WebsiteUrl)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                Phone Number
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                Shirt Size
            </div>
            <div class="controls">
                @Html.DropDownListFor(model => model.ShirtSize, Html.GetSelectList(Model.ShirtSize, "Small", "Medium", "Large", "X-Large", "2X-Large", "3X-Large"))
                @Html.ValidationMessageFor(model => model.ShirtSize)
                <span class="help-inline">Sizes are in Mens.
                </span>
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                Special Dietary Requirements?
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Diet)
                @Html.ValidationMessageFor(model => model.Diet)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                Are you a student?
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Student)
                @Html.ValidationMessageFor(model => model.Student)<span class="help-inline">High School or University</span>
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                Are you a Microsoft MVP?
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Mvp)
                @Html.ValidationMessageFor(model => model.Mvp)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                Tell us a bit about yourself:
            </div>
            <div class="controls">
                @Html.TextAreaFor(model => model.Bio)
                @Html.ValidationMessageFor(model => model.Bio)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                Comments for the Organizers:
            </div>
            <div class="controls">
                @Html.TextAreaFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        <div class="control-group">
            <h3>How can you help?
            </h3>
            <span class="help-block">Check all that apply.
            </span>
        </div>
        <div class="control-group">
            <div class="control-label">
                as a Developer
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.IsDeveloper)
                @Html.ValidationMessageFor(model => model.IsDeveloper)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                as a Designer
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.IsDesigner)
                @Html.ValidationMessageFor(model => model.IsDesigner)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                as a Project Manager
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.IsProjectManager)
                @Html.ValidationMessageFor(model => model.IsProjectManager)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                as a Business Analyst
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.IsBusinessAnalyst)
                @Html.ValidationMessageFor(model => model.IsBusinessAnalyst)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                as Event Staff
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.IsStaff)
                @Html.ValidationMessageFor(model => model.IsStaff)
            </div>
        </div>

        <div class="control-group">
            <h3>Tell us about your skill level
            </h3>
            <span class="help-block">This will help us match folks to projects with the approperate needs.
            </span>
            <dl class="dl-horizontal">
                <dt>Novice</dt>
                <dd>I have played with it once or twice</dd>
                <dt>Apprentice</dt>
                <dd>I have worked with it for less than a few years but I might need some help if I get stuck</dd>
                <dt>Experienced</dt>
                <dd>I have used it for more than a few years and could figure out most things with little help</dd>
                <dt>Lead </dt>
                <dd>I have used it for many years and could help guide others</dd>
                <dt>Expert </dt>
                <dd>I have considerable experience with it and could help others out if they get stuck</dd>
            </dl>
        </div>

<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.MVC)</div><div class="controls">@Html.DropDownListFor(model => model.MVC, Html.GetSelectList(Model.MVC, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.WebForms)</div><div class="controls">@Html.DropDownListFor(model => model.WebForms, Html.GetSelectList(Model.WebForms, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.CSharp)</div><div class="controls">@Html.DropDownListFor(model => model.CSharp, Html.GetSelectList(Model.CSharp, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.Css)</div><div class="controls">@Html.DropDownListFor(model => model.Css, Html.GetSelectList(Model.Css, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.DotNetNuke)</div><div class="controls">@Html.DropDownListFor(model => model.DotNetNuke, Html.GetSelectList(Model.DotNetNuke, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.Html5)</div><div class="controls">@Html.DropDownListFor(model => model.Html5, Html.GetSelectList(Model.Html5, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.Joomla)</div><div class="controls">@Html.DropDownListFor(model => model.Joomla, Html.GetSelectList(Model.Joomla, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.JavaScript)</div><div class="controls">@Html.DropDownListFor(model => model.JavaScript, Html.GetSelectList(Model.JavaScript, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.JQuery)</div><div class="controls">@Html.DropDownListFor(model => model.JQuery, Html.GetSelectList(Model.JQuery, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.Orchard)</div><div class="controls">@Html.DropDownListFor(model => model.Orchard, Html.GetSelectList(Model.Orchard, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.Php)</div><div class="controls">@Html.DropDownListFor(model => model.Php, Html.GetSelectList(Model.Php, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.ProjectManagement)</div><div class="controls">@Html.DropDownListFor(model => model.ProjectManagement, Html.GetSelectList(Model.ProjectManagement, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.RequirementsGathering)</div><div class="controls">@Html.DropDownListFor(model => model.RequirementsGathering, Html.GetSelectList(Model.RequirementsGathering, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.Sitefinity)</div><div class="controls">@Html.DropDownListFor(model => model.Sitefinity, Html.GetSelectList(Model.Sitefinity, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.TeamLeadership)</div><div class="controls">@Html.DropDownListFor(model => model.TeamLeadership, Html.GetSelectList(Model.TeamLeadership, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.Vbnet)</div><div class="controls">@Html.DropDownListFor(model => model.Vbnet, Html.GetSelectList(Model.Vbnet, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.WebsiteDesign)</div><div class="controls">@Html.DropDownListFor(model => model.WebsiteDesign, Html.GetSelectList(Model.WebsiteDesign, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>
<div class="control-group"><div class="control-label">@Html.LabelFor(model => model.WordPress)</div><div class="controls">@Html.DropDownListFor(model => model.WordPress, Html.GetSelectList(Model.WordPress, "Novice", "Apprentice", "Experienced", "Lead", "Expert"))</div></div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Save" class="btn btn-success btn-large" />
            </div>
        </div>

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: "textarea",
                width: 500,
                height: 300
            });

            $('span.field-validation-valid, span.field-validation-error').each(function () {
                $(this).addClass('help-inline');
            });

            $('#Phone').mask("(999) 999-9999");

        });

        jQuery.validator.setDefaults({
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                } else {
                    $(element).addClass(errorClass).removeClass(validClass);
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).removeClass(errorClass).addClass(validClass);
                    $(element).closest('.control-group').removeClass('error').addClass('success');
                }
            }
        });
    </script>
}
